<div class="row" id="header">
    <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
        <img id="logo" src="../assets/images/jd_logo.png" alt="JD-LOGO" routerLink='/'>
    </div>
    <div class="col-md-5 col-sm-5 col-lg-5 col-xl-5">
        <h1 id="title">TRAINING DATABASE</h1>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3" style="text-align: right;" *ngIf="getName">
        
        <br>
        <h5 id="welcome">Welcome, {{getName}}</h5>
        <div id="unit" >
            <b>Unit&nbsp;&nbsp;</b>
            <select style="border-radius: 5px">
                <option>LV_500</option>
                <option>LV_400</option>
                <option>LV_SAL</option>
                <option>BDS</option>
            </select>
        </div>
    
    </div>
</div>