/* @@ -15,19 +15,17 @@  */
#title{
    text-align: center;
    color: blue;
    margin-top: 15px;
}
#racfid{
    border-radius: 5px;
}
#name{
    border-radius: 5px;
}
#orgroles{
    border-radius: 5px;

    margin-left: -15px;
}
#availableUsers{
    border-radius: 5px; 
    min-height: 150px;
}
#selectedUsers{
    border-radius: 5px;
    min-height: 150px;
} 
