<div class="container1" style="margin: 30px 30px 30px 30px">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <app-header></app-header>
        </div>
      </div>
  <div class="row" *ngIf="getName">
    <div class="col-sm-3 col-md-3 col-lg-3" id="leftaccordion">
      <app-leftaccordion></app-leftaccordion>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-sm-9 col-md-9 col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="!getName">
      <div id="login" class="jumbotron">
        <h4><i>You are not logged in. Please login to continue.</i></h4>
      <br><br>
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
      </div>
  </div>
  <!-- <span>
    <button mat-button *ngIf="!getName" (click)="login()"> Login </button>
    <button mat-button *ngIf="getName" (click)="logout()"> Logout </button>
  </span> -->
</div>