table {
  width: 100%;
  height: 500px;
}
.container{
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
}
.example-container {
  flex: 1 0 600px;
}


.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  margin-top: 10px;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

/* .mat-header-cell{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
} */
.mat-table {
  width: 100%;
  overflow: scroll;
  height: 500px;
}
#search{
  border-radius: 5px;
  float: right;
  margin-right: -25px;
}
#title{
  text-align: center;
  color: blue;
  margin-top: -5px;
}

.mat-column-racfid {
  flex: 1 0 120px;
}
.mat-column-lastname {
  flex: 1 0 120px;
}
.mat-column-firstname {
  flex: 1 0 120px;
}
.mat-column-mi {
  flex: 1 0 50px;
}
.mat-column-employeetype {
  flex: 1 0 150px;
}
.mat-column-organizationalrole {
  flex: 1 0 180px;
}
.mat-column-jobposition {
  flex: 1 0 120px;
}
.mat-column-sapteam1 {
  flex: 1 0 120px;
}
.mat-column-siteteammember {
  flex: 1 0 170px;
}
.mat-column-dept {
  flex: 1 0 80px;
}
.mat-column-shift {
  flex: 1 0 80px;
}
.mat-column-manager {
  flex: 1 0 120px;
}
.mat-column-sme {
  flex: 1 0 120px;
}

mat-cell {
  margin-left: 10px;
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
}
/* th td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

#first-mat-col{
  /* border-left: 1px solid black; */
  padding-right: 10px;
}
