<div class="example-header row">
  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
  <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
      <h3 id="title">VIEW ALL USERS</h3>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" id="search">
  </div>  
</div>

<div class="example-container mat-elevation-z8 datatable">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- RACFID Column -->
    <ng-container matColumnDef="racfid">
      <mat-header-cell *matHeaderCellDef mat-sort-header> RACFID </mat-header-cell>
      <mat-cell id="first-mat-col" *matCellDef="let row"> {{row.racfid}} </mat-cell>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> LastName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lastname}} </mat-cell>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.firstname}} </mat-cell>
    </ng-container>

    <!-- MI Column -->
    <ng-container matColumnDef="mi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> MI </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mi}} </mat-cell>
    </ng-container>

    <!-- EmployeeType Column -->
    <ng-container matColumnDef="employeetype">
      <mat-header-cell *matHeaderCellDef mat-sort-header> EmployeeType </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.employeetype}} </mat-cell>
    </ng-container>

    <!-- OrganizationalRole Column -->
    <ng-container matColumnDef="organizationalrole">
      <mat-header-cell *matHeaderCellDef mat-sort-header> OrganizationalRole</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.organizationalrole}}</mat-cell>
    </ng-container>

    <!-- JobPosition Column -->
    <ng-container matColumnDef="jobposition">
      <mat-header-cell *matHeaderCellDef mat-sort-header>JobPosition</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.jobposition}}</mat-cell>
    </ng-container>

    <!-- SAPTeam1 Column -->
    <ng-container matColumnDef="sapteam1">
      <mat-header-cell *matHeaderCellDef mat-sort-header>SAPTeam1</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.sapteam1}}</mat-cell>
    </ng-container>

    <!-- SiteTeamMember Column -->
    <ng-container matColumnDef="siteteammember">
      <mat-header-cell *matHeaderCellDef mat-sort-header>SiteTeamMember</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.siteteammember}}</mat-cell>
    </ng-container>

    <!-- Dept Column -->
    <ng-container matColumnDef="dept">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Dept</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.dept}}</mat-cell>
    </ng-container>

    <!-- Shift Column -->
    <ng-container matColumnDef="shift">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Shift</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.shift}}</mat-cell>
    </ng-container>

    <!-- Manager Column -->
    <ng-container matColumnDef="manager">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Manager</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.manager}}</mat-cell>
    </ng-container>

    <!-- SME Column -->
    <ng-container matColumnDef="sme">
      <mat-header-cell *matHeaderCellDef mat-sort-header>SME</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.sme}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
