<div class="example-header row">
  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
  <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
      <h3 id="title">VIEW ALL USERS</h3>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" id="search">
  </div>  
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 table-container" >
      <data-table id="my-table"  [items]="data" [indexColumn]="false" [pagination] ="true" [limit]="5" 
      [pageLimits]="[5,10]" [sortBy]="'racfid'">
          <data-table-column [property]="'racfid'" [header]="'racfid'" [width]="100" [sortable]="true" >
            <ng-template #dataTableCell let-item="item">
                {{item.racfid}}
            </ng-template>
          </data-table-column>
          
          <data-table-column [property]="'lastname'" [header]="'lastname'" [width]="120" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.lastname}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'firstname'" [header]="'firstname'" [width]="120" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.firstname}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'mi'" [header]="'mi'" [width]="50" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.mi}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'employeetype'" [header]="'employeetype'" [width]="150" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.employeetype}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'organizationalrole'" [header]="'organizationalrole'" [width]="180" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.organizationalrole}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'jobposition'" [header]="'jobposition'" [width]="120" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.jobposition}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'sapteam1'" [header]="'sapteam1'" [width]="120" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.sapteam1}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'siteteammember'" [header]="'siteteammember'" [width]="170" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.siteteammember}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'dept'" [header]="'dept'" [width]="80"[sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.dept}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'shift'" [header]="'shift'" [width]="80" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.shift}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'manager'" [header]="'manager'" [width]="120"  [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.manager}}
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'sme'" [header]="'sme'" [width]="120"  [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{item.sme}}
            </ng-template>
          </data-table-column>

          
        </data-table>
  </div>
</div>
