<div class="mat-elevation-z8 data-table row">
  <div class="col-md-4 col-sm-10 col-lg-10">
  <table class="full-width-table" mat-table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- RACFID Column -->
    <ng-container matColumnDef="RACFID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>RACFID</th>
      <td mat-cell *matCellDef="let row">{{row.RACFID}}</td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
      <td mat-cell *matCellDef="let row">{{row.LastName}}</td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
        <td mat-cell *matCellDef="let row">{{row.FirstName}}</td>
      </ng-container>

      <!-- MI Column -->
    <ng-container matColumnDef="MI">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>MI</th>
        <td mat-cell *matCellDef="let row">{{row.MI}}</td>
      </ng-container>

      <!-- EmployeeType Column -->
    <ng-container matColumnDef="EmployeeType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EmployeeType</th>
        <td mat-cell *matCellDef="let row">{{row.EmployeeType}}</td>
      </ng-container>

      <!-- OrganizationalRole Column -->
    <ng-container matColumnDef="OrganizationalRole">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>OrganizationalRole</th>
        <td mat-cell *matCellDef="let row">{{row.OrganizationalRole}}</td>
      </ng-container>

      <!-- JobPosition Column -->
    <ng-container matColumnDef="JobPosition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>JobPosition</th>
        <td mat-cell *matCellDef="let row">{{row.JobPosition}}</td>
      </ng-container>

      <!-- SAPTeam1 Column -->
    <ng-container matColumnDef="SAPTeam1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SAPTeam1</th>
        <td mat-cell *matCellDef="let row">{{row.SAPTeam1}}</td>
      </ng-container>

      <!-- SiteTeamMember Column -->
    <ng-container matColumnDef="SiteTeamMember">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SiteTeamMember</th>
        <td mat-cell *matCellDef="let row">{{row.SiteTeamMember}}</td>
      </ng-container>

      <!-- Dept Column -->
    <ng-container matColumnDef="Dept">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dept</th>
        <td mat-cell *matCellDef="let row">{{row.Dept}}</td>
      </ng-container>

      <!-- Shift Column -->
    <ng-container matColumnDef="Shift">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Shift</th>
        <td mat-cell *matCellDef="let row">{{row.Shift}}</td>
      </ng-container>

      <!-- Manager Column -->
    <ng-container matColumnDef="Manager">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Manager</th>
        <td mat-cell *matCellDef="let row">{{row.Manager}}</td>
      </ng-container>

      <!-- SME Column -->
    <ng-container matColumnDef="SME">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SME</th>
        <td mat-cell *matCellDef="let row">{{row.SME}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[15, 20, 25]">
  </mat-paginator>
</div>
